body{
    font-family: "Poppins", Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ffffff, #666b65);
}

.converter{
    text-align: center;
    max-width: 450px;
    margin: auto;
    padding: 35px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 18px;

}
select, input{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: medium;
}

button{
    background-color: #000000;
    color: white;
    font-size: 20px;
    padding: 18px;
    border: none;
    width: 70%;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: auto;    
    margin-top: 20px;
    margin-bottom: 20px;
}

button:hover{
    background-color: #656565;
}
#result{
    width: 90%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    color: #333;
}

#temperature{
    width: 90%;
    padding: 15px;
    
}

@media screen and (max-width:500px){
    .converter{
        width: 90%;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    h2{
        color: #333;
        animation: fadeIn 1s ease-in-out;
    }
}

.mobile {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
}